.root {
    padding: 2rem;
    font-family: var(--ifm-font-family-monospace);
    font-size: 14px;
    background-color: var(--ifm-pre-background);
    width: 100%;
    max-width: 500px;
    overflow: auto;
    border-radius: 15px;
}

.root p {
    margin-bottom: 2px;
    white-space: nowrap;
}

.comment {
    color: #7f7f7f;
}

.url {
    margin-top: 10px;
}

.url > span {
    color: navy;
}

.method > span {
    color: #660e7a;
}

.params {
    margin-top: 10px;
}

.params p {
    margin-left: 1em;
}

.params p > span {
    color: #026b07;
}

@media (max-width: 996px) {
    .root {
        padding-left: 1rem;
    }
}
