.root {
    /* 底部有滚动条，所以padding bottom少一点 */
    padding: 2rem 1.5rem 1.4rem 2rem;
    font-family: var(--ifm-font-family-monospace);
    font-size: 14px;
    background-color: var(--ifm-pre-background);
    max-width: 100%;
    overflow: auto;
    border-radius: 15px;
}

.root > div + div {
    margin-top: 20px;
}

.root p {
    margin-bottom: 0px;
    white-space: nowrap;
}

.comment {
    color: #7f7f7f;
}

.url > span {
    color: navy;
}

.params > span {
    color: #026b07;
}

@media (max-width: 996px) {
    .root {
        font-size: 13px;
        /* 滚动条在容器内，所以padding bottom多一点 */
        padding: 1.8rem 1.2rem 1.6rem 1.6rem;
        border-radius: 14px;
    }
}
