.root {
    padding: 64px 0 80px;
}

.item h3 {
    font-size: 24px;
    height: 40px;
    line-height: 40px;
}

.item p {
    font-size: 18px;
    margin-bottom: 0;
}

.item :global .material-icons {
    border-radius: 50%;
    border: 1px solid #e8e8e8;
    padding: 5px;
    margin-right: 20px;
    font-size: 25px !important;
    vertical-align: -15%;
}

.code {
    color: #2299dd;
}

.category {
    color: #4caf50;
}

.box1 {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 48px;
}

@media (max-width: 996px) {
    .root :global .col + .col {
        margin-top: 48px;
    }

    .item + .item {
        margin-top: 40px;
    }

    .box1 {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 40px;
    }
}

@media (min-width: 997px) {
    .root :global .row {
        align-items: center;
    }

    .root :global .col:first-child {
        display: flex;
        justify-content: center;
        padding-right: 5%;
    }

    .item + .item {
        margin-top: 45px;
    }

    .box1 {
        grid-template-columns: repeat(5, 1fr);
    }
}
