.root {
    background-image: url("../../../static/img/otp-banner-bg.png");
    background-size: cover;
    background-position: center center;
    color: white;
}

.title {
    font-size: 40px;
}

.title :global .material-icons {
    font-size: 1.4rem;
    vertical-align: text-top;
    cursor: default;
}

.subtitle {
    font-size: 22px;
}

.buttonBox a {
    font-size: 16px;
}

.buttonBox :global .button--secondary {
    opacity: 90%;
}

.buttonBox :global .button--outline:not(:hover) {
    color: white !important;
}

.img1 {
    vertical-align: middle;
    width: 100%;
    border-radius: 15px;
    opacity: 95%;
}

@media (max-width: 996px) {
    .root {
        padding: 64px 0;
    }

    .title {
        margin-bottom: 18px;
    }

    .subtitle {
        margin-bottom: 20px;
    }

    .img1 {
        max-width: 400px;
    }
}

@media (min-width: 997px) {
    .root {
        padding: 40px 0;
    }

    .root :global .row {
        align-items: center;
        justify-content: space-between;
    }

    .root :global .col {
        --col-width: calc(59 / 120 * 100%);
        flex: 0 0 var(--col-width);
        max-width: var(--col-width);
    }

    .title {
        margin-bottom: 32px;
    }

    .subtitle {
        margin-bottom: 35px;
    }
}
