.img1 {
    vertical-align: middle;
    width: 100%;
    border: 1px solid #e8e8e8;
    background-color: #fcfdfe;
    border-radius: 15px;
    padding: 0 30px;
}

.p1 {
    font-size: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.detail {
    font-size: 18px;
    margin-bottom: 0;
}

.satisfied,
.security {
    margin-right: 25px;
    font-size: 36px !important;
    vertical-align: -22%;
}

.satisfied {
    color: #f08c10;
}

.security {
    color: #4caf50;
}

@media (max-width: 996px) {
    .root {
        padding: 64px 0;
    }

    .img1 {
        max-width: 400px;
    }

    .p1 {
        margin-bottom: 25px;
    }

    .box1 {
        margin-top: 25px;
    }
}

@media (min-width: 997px) {
    .root {
        padding: 64px 0 56px;
    }

    .root :global .row {
        align-items: center;
    }

    .p1 {
        margin-bottom: 45px;
    }

    .box1 {
        margin-top: 50px;
    }
}
