.imgCol {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1 {
    border-radius: 50%;
    width: 280px;
    opacity: 95%;
}

.item :global .material-icons {
    font-size: 36px;
    margin-right: 25px;
    vertical-align: -22%;
}

.password {
    color: #f08c10;
}

.portrait1 {
    color: #2299dd;
}

.portrait2 {
    color: rgba(63, 81, 181, 0.95);
}

.emoji_objects {
    color: #f5ce15;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.detail {
    font-size: 18px;
    margin-bottom: 0;
}

@media (max-width: 996px) {
    .root {
        padding: 64px 0 72px;
    }

    .item + .item {
        margin-top: 30px;
    }

    .imgCol {
        margin: 35px 0;
    }
}

@media (min-width: 997px) {
    .root {
        padding: 64px 0 80px;
    }

    .root :global .main-title {
        margin-bottom: 54px;
    }

    .item + .item {
        margin-top: 75px;
    }
}
