.root {
    padding: 64px 0;
    background-color: #fafafa;
}

.p1 {
    font-size: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.detail {
    font-size: 18px;
    margin-bottom: 0;
}

.infinity,
.savings {
    margin-right: 25px;
    font-size: 36px !important;
    vertical-align: -22%;
}

.infinity {
    color: #3f51b5;
}

.savings {
    color: #f5ce15;
}

.img1 {
    vertical-align: middle;
    width: 100%;
    background-image: url("../../../static/img/otp-banner-bg.png");
    background-size: cover;
    border-radius: 15px;
}

@media (max-width: 996px) {
    .img1 {
        max-width: 400px;
    }

    .p1 {
        margin-bottom: 22px;
    }

    .box1 {
        margin-top: 25px;
    }
}

@media (min-width: 997px) {
    .root :global .row {
        align-items: center;
    }

    .p1 {
        margin-bottom: 45px;
    }

    .box1 {
        margin-top: 50px;
    }
}
