.root {
    text-align: center;
}

.imgBox {
    background-color: #f4f5f6;
    padding: 28px;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    box-sizing: content-box;
    cursor: pointer;
}

.imgBox:hover {
    background-color: #eee;
}

.imgBox img {
    width: 100%;
}

.title {
    font-size: 16px;
    margin: 1rem 0 0 0;
}

.count {
    color: #7f7f7f;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
}
