.root {
    padding: 68px 0 85px;
}

.root :global .col:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appBox {
    text-align: center;
}

.appBox img {
    width: 100px;
    border-radius: 22.5%;
    opacity: 95%;
}

.appBox p {
    margin-bottom: 0;
}

.box1 {
    font-size: 17px;
    max-width: 300px;
    margin-top: 35px;
}

.desc {
    color: var(--ifm-color-gray-800);
}

.p1 {
    margin-top: 30px;
    margin-bottom: 8px;
}

.p2 {
    color: var(--ifm-color-gray-800);
    margin-bottom: 0;
}

.img1 {
    border-radius: 15px;
    border: 1px solid #e8e8e8;
    vertical-align: middle;
}

.button {
    display: inline-block;
    font-size: 14px;
    color: var(--ifm-color-gray-500);
    cursor: pointer;
    padding: 5px;
}

.button:hover {
    color: inherit;
}

@media (max-width: 996px) {
    .root {
        padding-bottom: 90px;
    }

    .root :global .col--7 {
        margin-top: 46px;
    }

    .img1 {
        border-radius: 10px;
        aspect-ratio: 4/3;
        object-fit: cover;
        object-position: left;
    }

    .buttonBox {
        position: absolute;
        right: 10px;
        bottom: -80px;
    }
}

@media (min-width: 997px) {
    .root :global .row {
        align-items: center;
    }

    .root :global .col:first-child {
        margin-right: 1rem;
    }

    .root :global .col--7 {
        margin-right: 1rem;
    }

    .buttonBox {
        margin-top: 35px;
        margin-bottom: -35px;
    }
}

@media (min-width: 997px) and (max-width: 1200px) {
    .root :global .col--7 {
        margin-right: 2rem;
    }
}
