.root {
    background-color: #fafafa;
}

.p1 {
    font-size: 22px;
}

.sideBox {
    display: flex;
    align-items: center;
}

.sideBox h4 {
    margin-bottom: 0;
    padding-right: 12px;
    color: #7f7f7f;
    font-size: 17px;
}

.divider {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.item :global .material-icons {
    font-size: 28px;
    vertical-align: -20%;
    padding-right: 15px;
}

.item h3 {
    font-size: 22px;
}

.item p {
    color: var(--ifm-color-gray-800);
    font-size: 17px;
    margin-bottom: 0;
}

@media (max-width: 996px) {
    .root {
        padding: 80px 0;
    }

    .p1 {
        margin-bottom: 46px;
    }

    .root :global .col:last-child {
        margin-top: 48px;
    }

    .item {
        margin-top: 38px;
    }
}

@media (min-width: 997px) {
    .root {
        padding: 72px 0 80px;
    }

    .p1 {
        text-align: center;
        margin-bottom: 52px;
    }

    .root :global .col:first-child {
        display: flex;
    }

    .root :global .col:last-child {
        display: flex;
        justify-content: flex-end;
    }

    .item {
        margin-top: 42px;
    }
}
