.root {
    padding-top: 68px;
}

.title {
    font-size: 30px;
    margin-bottom: 52px;
    text-align: center;
}

.col1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBox1 {
    width: 48%;
}

.imgBox2 {
    width: 52%;
    margin-left: -6%;
}

.imgBox1 p,
.imgBox2 p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.imgBox1 p {
    color: #7f7f7f;
}

.imgBox1 img,
.imgBox2 img {
    vertical-align: middle;
    border-radius: 15px;
}

.imgBox2 img {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.imgBox2 :global .material-icons {
    font-size: 23px;
    vertical-align: -25%;
    color: #4caf50;
}

.item h3 {
    font-size: 23px;
    margin-bottom: 20px;
}

.item p {
    font-size: 18px;
    margin-bottom: 0;
}

.item :global .material-icons {
    margin-right: 25px;
    font-size: 35px;
    vertical-align: -22%;
}

@media (max-width: 996px) {
    .root {
        padding-bottom: 80px;
    }

    .col2 {
        margin-top: 42px;
    }

    .item + .item {
        margin-top: 38px;
    }

    .imgBox1 p {
        font-size: 13px;
    }

    .imgBox2 p {
        font-size: 14px;
    }
}

@media (min-width: 997px) {
    .root {
        padding-bottom: 64px;
    }

    .root :global .row {
        align-items: center;
    }

    .col1 {
        margin-left: 1.5rem;
    }

    .col2 {
        margin-top: -20px;
        margin-right: 0.5rem;
        display: flex;
        justify-content: flex-end;
    }

    .imgBox1 p {
        font-size: 14px;
    }

    .imgBox2 p {
        font-size: 15px;
    }

    .item + .item {
        margin-top: 52px;
    }
}

@media (min-width: 1050px) {
    .col1 {
        margin-left: 2.5rem;
    }

    .col2 {
        margin-right: 1rem;
    }
}
