.root {
    padding: 64px 0 72px;
}

.img1 {
    vertical-align: middle;
    width: 100%;
    opacity: 95%;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.detail {
    font-size: 18px;
    margin-bottom: 0;
}

.root :global .material-icons {
    margin-right: 25px;
    font-size: 36px !important;
    vertical-align: -22%;
}

.password {
    color: #f08c10;
}

.account {
    color: #3f51b5;
}

.fingerprint {
    color: #4caf50;
}

@media (max-width: 996px) {
    .right {
        margin-top: 38px;
    }

    .img1 {
        max-width: 400px;
    }

    .right > div + div {
        margin-top: 30px;
    }
}

@media (min-width: 997px) {
    .root :global .row {
        align-items: center;
        justify-content: space-between;
    }

    .root :global .col {
        flex: 0 0 var(--col-width);
        max-width: var(--col-width);
    }

    .left {
        --col-width: calc(52 / 120 * 100%);
    }

    .right {
        --col-width: calc(58 / 120 * 100%);
    }

    .right > div + div {
        margin-top: 45px;
    }
}
