.root {
    background-image: url("/img/home-banner-bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    color: white;
    padding: 95px 1rem;
}

.title {
    margin-bottom: 40px;
}

.title :global .material-icons {
    vertical-align: text-top;
    cursor: default;
}

.subtitle {
    margin-bottom: 45px;
}

.tooltip1 {
    max-width: none;
}

@media (max-width: 996px) {
    .title {
        font-size: 40px;
    }

    .title :global .material-icons {
        font-size: 20px;
    }

    .subtitle {
        font-size: 22px;
    }
}

@media (min-width: 997px) {
    .title {
        font-size: 50px;
    }

    .title :global .material-icons {
        font-size: 22px;
    }

    .subtitle {
        font-size: 26px;
    }
}
