.root {
    background-image: url("../../../static/img/banner-bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    color: white;
}

.title {
    font-size: 45px;
    margin-bottom: 25px;
}

.title :global .material-icons {
    font-size: 1.4rem;
    vertical-align: text-top;
    cursor: default;
}

.subtitle {
    font-size: 24px;
    margin-bottom: 30px;
}

.tooltip1 {
    font-size: 16px;
    max-width: none;
}

@media (max-width: 996px) {
    .root {
        padding: 70px 1rem;
    }
}

@media (min-width: 997px) {
    .root {
        padding: 85px 1rem;
    }
}
