.root {
    padding: 64px 0 76px;
}

.img1 {
    vertical-align: middle;
    width: 100%;
    max-width: 400px;
    opacity: 0.8;
}

.item h3 {
    font-size: 24px;
    height: 40px;
    line-height: 40px;
}

.item p {
    font-size: 18px;
    margin-bottom: 0;
}

.money,
.infinity {
    border-radius: 50%;
    border: 1px solid #e8e8e8;
    padding: 5px;
    margin-right: 20px;
    font-size: 25px !important;
}

.money {
    color: #f5ce15;
}

.infinity {
    color: #3f51b5;
    vertical-align: -15%;
}

.button1 {
    font-weight: normal;
    font-size: 15px;
}

@media (max-width: 996px) {
    .root :global .col + .col {
        margin-top: 38px;
    }

    .item + .item {
        margin-top: 30px;
    }

    .button1 {
        margin-top: 33px;
    }
}

@media (min-width: 997px) {
    .root :global .row {
        align-items: center;
    }

    .item + .item {
        margin-top: 32px;
    }

    .button1 {
        margin-top: 35px;
    }
}
