.root {
    padding: 68px 0 80px;
}

.p1 {
    font-size: 21px;
}

.img1 {
    vertical-align: middle;
    width: 400px;
    opacity: 95%;
}

.item h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.item p {
    font-size: 18px;
    margin-bottom: 0;
}

.money,
.infinity {
    margin-right: 25px;
    font-size: 35px;
}

.money {
    color: #f5ce15;
    vertical-align: -10%;
}

.infinity {
    color: #3f51b5;
    vertical-align: -22%;
}

.button1 {
    --ifm-button-size-multiplier: 1.05;
    margin-left: 50px;
}

@media (max-width: 996px) {
    .root :global .row {
        margin-top: 38px;
    }

    .root :global .col + .col {
        margin-top: 54px;
    }

    .item + .item {
        margin-top: 38px;
    }

    .button1 {
        margin-top: 43px;
    }
}

@media (min-width: 997px) {
    .root :global .row {
        align-items: center;
    }

    .root :global .col:first-child {
        margin-top: 18px;
    }

    .root :global .col--5 {
        text-align: right;
        margin-top: -20px;
    }

    .item + .item {
        margin-top: 40px;
    }

    .button1 {
        margin-top: 46px;
    }
}

@media (min-width: 1100px) {
    .p1 {
        margin-left: 1rem;
    }

    .root :global .col:first-child {
        margin-left: 1rem;
    }
}

@media (min-width: 1140px) {
    .img1 {
        margin-right: -5px;
    }
}
