.root {
    padding: 68px 0 80px;
}

.p1 {
    font-size: 21px;
}

.img1 {
    vertical-align: middle;
    width: 400px;
    opacity: 95%;
}

.item + .item {
    margin-top: 40px;
}

.item h3 {
    font-size: 24px;
    height: 40px;
    line-height: 40px;
}

.item p {
    font-size: 18px;
    margin-bottom: 0;
}

.money,
.infinity {
    border-radius: 50%;
    border: 1px solid #e8e8e8;
    padding: 5px;
    margin-right: 20px;
    font-size: 25px !important;
}

.money {
    color: #f5ce15;
}

.infinity {
    color: #3f51b5;
    vertical-align: -15%;
}

.button1 {
    --ifm-button-size-multiplier: 1.05;
    margin-top: 45px;
    margin-left: 46px;
}

@media (max-width: 996px) {
    .root :global .row {
        /* 从语义上来说 这句话和下面两个特点是连在一起的 所以稍微减少margin */
        margin-top: 45px;
    }

    .root :global .col + .col {
        margin-top: 48px;
    }
}

@media (min-width: 997px) {
    .root :global .row {
        align-items: center;
    }

    .root :global .col--7 {
        margin-top: 18px;
    }

    .root :global .col--5 {
        text-align: right;
        margin-top: -20px;
    }
}

@media (min-width: 1140px) {
    .img1 {
        margin-right: -5px;
    }
}
