.p1 {
    font-size: 24px;
    margin-bottom: 25px;
}

.ul1 {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    color: var(--ifm-color-gray-700);
}

.ul1 li + li {
    margin-top: 12px;
}

.ul1 li :global .MuiSvgIcon-root {
    vertical-align: -12%;
    margin-right: 10px;
    opacity: 90%;
}

.p2 {
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 0;
}

.p2 span {
    color: #3f51b5;
    font-weight: bold;
}

.img1 {
    vertical-align: middle;
    width: 100%;
    max-width: 400px;
}

@media (max-width: 996px) {
    .root {
        padding: 76px 0 80px;
    }

    .root :global .col + .col {
        margin-top: 35px;
    }
}

@media (min-width: 997px) {
    .root :global .row {
        align-items: center;
    }

    .root {
        padding: 42px 0;
    }
}
