.p1 {
    font-size: 24px;
}

.ul1 {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    color: var(--ifm-color-gray-800);
}

.ul1 li :global .material-icons {
    vertical-align: -20%;
    margin-right: 10px;
    color: var(--ifm-color-gray-600);
}

.p2 {
    font-size: 24px;
    margin-bottom: 0;
}

.p2 span {
    color: #3f51b5;
    font-weight: bold;
}

.img1 {
    vertical-align: middle;
    width: 410px;
}

@media (max-width: 996px) {
    .root {
        padding: 80px 0 85px;
    }

    .root :global .col + .col {
        margin-top: 48px;
    }

    .p1 {
        margin-bottom: 24px;
    }

    .ul1 li + li {
        margin-top: 12px;
    }

    .p2 {
        margin-top: 24px;
    }
}

@media (min-width: 997px) {
    .root :global .row {
        align-items: center;
    }

    .root {
        padding: 50px 0;
    }

    .root :global .col--5 {
        text-align: right;
    }

    .p1 {
        margin-bottom: 32px;
    }

    .ul1 li + li {
        margin-top: 16px;
    }

    .p2 {
        margin-top: 32px;
    }
}
