.root {
    background-color: #fafafa;
    padding: 68px 0 80px;
}

.row1 :global .col--2 {
    text-align: center;
}

.row1 img {
    vertical-align: middle;
}

.row1 p {
    margin-bottom: 0;
    font-size: 23px;
}

.row2 {
    margin-top: 52px;
}

.item {
    display: flex;
    align-items: center;
}

.item img {
    width: 80px;
}

.item h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.item p {
    font-size: 17px;
    margin-bottom: 0;
}

@media (max-width: 996px) {
    .rowCmb {
        margin-top: 32px;
    }

    .rowPa :global .col:last-child {
        margin-top: 23px;
    }

    .rowCmb :global .col:last-child {
        margin-top: 20px;
    }

    .rowPa img {
        width: 185px;
    }

    .rowCmb img {
        width: 200px;
    }

    .row2 :global .col + .col {
        margin-top: 48px;
    }

    .item img {
        margin-right: 15px;
    }
}

@media (min-width: 997px) {
    .row1 {
        align-items: center;
    }

    .row1 :global .col:nth-child(2) {
        padding-left: 40px;
    }

    .rowCmb {
        margin-top: 34px;
    }

    .rowPa img {
        width: 92%;
    }

    .row2 :global .col:first-child {
        margin: 0 2px;
    }

    .row2 :global .col:last-child {
        margin: 0 2px;
    }

    .item img {
        margin-right: 30px;
    }
}
