.root {
    background-color: #fafafa;
    padding: 64px 0 80px;
}

.row1 + .row1 {
    margin-top: 32px;
}

.row1 :global .col--2 {
    text-align: center;
}

.row1 img {
    vertical-align: middle;
}

.row1 p {
    margin-bottom: 0;
    font-size: 23px;
}

.row2 {
    margin-top: 48px;
}

.item {
    display: flex;
    align-items: center;
}

.item img {
    width: 80px;
    margin-right: 30px;
}

.item h3 {
    font-size: 23px;
    margin-bottom: 8px;
}

.item p {
    font-size: 17px;
    margin-bottom: 0;
    color: var(--ifm-color-gray-800);
}

@media (max-width: 996px) {
    .col1 {
        margin-top: 25px;
    }

    .col2 {
        margin-top: 22px;
    }

    .pa {
        width: 190px;
    }

    .cmb {
        width: 200px;
    }

    .row2 :global .col + .col {
        margin-top: 48px;
    }
}

@media (min-width: 997px) {
    .row1 {
        align-items: center;
    }

    .pa {
        width: 95%;
    }
}
