.root {
    background-color: #fafafa;
    padding: 68px 0 80px;
}

.row1 :global .col--2 {
    text-align: center;
}

.row1 img {
    vertical-align: middle;
}

.row1 p {
    margin-bottom: 0;
    font-size: 23px;
}

.row2 {
    margin-top: 52px;
}

.item {
    display: flex;
    align-items: center;
}

.item img {
    width: 80px;
}

.item h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.item p {
    font-size: 17px;
    margin-bottom: 0;
}

@media (max-width: 996px) {
    .row1:nth-of-type(2) {
        margin-top: 32px;
    }

    .paCol {
        margin-top: 25px;
    }

    .cmbCol {
        margin-top: 22px;
    }

    .pa {
        width: 185px;
    }

    .cmb {
        width: 200px;
    }

    .row2 :global .col + .col {
        margin-top: 48px;
    }

    .item img {
        margin-right: 15px;
    }
}

@media (min-width: 997px) {
    .row1 {
        align-items: center;
    }

    .row1:nth-of-type(2) {
        margin-top: 34px;
    }

    .pa {
        width: 92%;
    }

    .item img {
        margin-right: 30px;
    }
}

@media (min-width: 1140px) {
    .row1 :global .col:nth-child(2) {
        padding-left: 40px;
    }

    .row2 :global .col:first-child {
        padding-right: 1.1rem;
    }

    .row2 :global .col:nth-child(2) {
        padding-left: 1.1rem;
    }
}
