.root {
    padding: 64px 0 80px;
}

.item {
    background-repeat: no-repeat;
    background-color: #fcfcfc;
    background-size: 50%;
    border: 1px solid #e8e8e8;
    border-radius: 25px;
    padding: 35px 20px 35px 35px;
    height: 100%;
}

.neutral {
    background-image: url("../../../static/img/home-value-bg1.svg");
    background-position: 120%;
}

.open {
    background-image: url("../../../static/img/home-value-bg2.svg");
    background-position: right;
}

.neutral .iconBg {
    padding: 20px;
}

.open .iconBg {
    padding: 10px;
}

.iconBg {
    border-radius: 50%;
    background-color: #eee;
    width: 100px;
    height: 100px;
}

.item svg {
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.item h3 {
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.item ol {
    margin: 0;
    padding-left: 1em;
    font-size: 18px;
}

.item li + li {
    margin-top: 10px;
}

.item li :global .material-icons {
    font-size: 20px;
    color: var(--ifm-color-gray-800);
    vertical-align: -10%;
    cursor: default;
}

@media (max-width: 996px) {
    .root :global .col + .col {
        margin-top: 42px;
    }
}

@media (min-width: 997px) {
    .root :global .row {
        justify-content: space-between;
    }

    .root :global .col {
        --col-width: calc(59 / 120 * 100%);
        flex: 0 0 var(--col-width);
        max-width: var(--col-width);
    }
}
