.root {
    padding: 68px 0 85px;
    background-color: #fafafa;
}

.p1 {
    font-size: 21px;
}

.item {
    background-repeat: repeat-y;
    background-color: white;
    background-size: 205px auto;
    background-image: url("/img/home-value-bg.svg");
    background-position: right top;
    border: 1px solid #eee;
    border-radius: 25px;
    padding: 35px 30px 35px 35px;
    height: 100%;
}

.titleBox {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
}

.neutral .iconBox {
    padding: 20px;
}

.open .iconBox {
    padding: 10px;
}

.iconBox {
    border-radius: 50%;
    background-color: #eee;
    width: 90px;
    height: 90px;
}

.iconBox svg {
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.titleBox h3 {
    font-size: 24px;
    margin: 0 0 0 25px;
}

.item ul {
    margin: 0;
    padding-left: 1em;
    font-size: 19px;
    list-style-type: circle;
}

.item li + li {
    margin-top: 15px;
}

.item li :global .material-icons {
    font-size: 20px;
    opacity: 95%;
    vertical-align: -15%;
    cursor: default;
}

@media (max-width: 996px) {
    .p1 {
        margin-bottom: 38px;
    }

    .root :global .col:nth-child(2) {
        margin-top: 50px;
    }

    .item {
        background-position: right -40px top;
        text-align: justify;
    }
}

@media (max-width: 1040px) {
    .item ul {
        padding-left: 0;
    }
}

@media (min-width: 997px) {
    .root {
        --col-padding: 2%;
    }

    .p1 {
        text-indent: 2em;
    }

    .root :global .col:nth-child(1) {
        padding-right: var(--col-padding);
    }

    .root :global .col:nth-child(2) {
        padding-left: var(--col-padding);
    }

    .open {
        padding-bottom: 30px;
    }

    .open .titleBox {
        margin-bottom: 30px;
    }

    .open li + li {
        margin-top: 12px;
    }
}

@media (min-width: 1140px) {
    .root {
        --col-padding: 40px;
    }
}
