.root {
    padding: 68px 0 85px;
    background-image: linear-gradient(white, transparent 60%), url("/img/home-value-bg.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: auto 200px;
}

.p1 {
    font-size: 21px;
}

.item {
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    padding: 35px 25px 40px 35px;
    height: 100%;
}

.item.neutral {
    background-color: white;
    border-color: #e8e8e8;
}

.item.open {
    background-color: #fafafa;
    border-color: #eee;
    padding-bottom: 30px;
}

.titleBox {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
}

.neutral .iconBox {
    padding: 20px;
    background-color: #eee;
}

.open .iconBox {
    padding: 10px;
    background-color: #e8e8e8;
}

.iconBox {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.iconBox svg {
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.titleBox h3 {
    font-size: 24px;
    margin: 0 0 0 25px;
}

.item ul {
    margin: 0;
    padding-left: 1em;
    font-size: 19px;
    list-style-type: circle;
}

.item li + li {
    margin-top: 15px;
}

@media (max-width: 996px) {
    .p1 {
        margin-bottom: 38px;
    }

    .root :global .col:last-child {
        margin-top: 52px;
    }

    .item ul {
        padding-left: 0;
        list-style-type: none;
    }
}

@media (min-width: 997px) {
    .p1 {
        text-indent: 2em;
    }

    .root :global .col:first-child {
        margin-right: 24px;
    }

    .root :global .col:last-child {
        margin-left: 24px;
    }
}

@media (min-width: 997px) and (max-width: 1200px) {
    .root :global .container {
        max-width: 1120px;
    }
}
