.root {
    background-image: url("/img/otp-banner-bg.png");
    background-size: cover;
    color: white;
}

.box1 :global .material-icons {
    font-size: 45px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px;
    color: #4caf50;
}

.box1 h1 {
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.box1 p {
    font-size: 20px;
    margin-bottom: 40px;
}

.box1 :global .button {
    --ifm-button-size-multiplier: 1.2;
}

.img1 {
    vertical-align: middle;
    width: 530px;
    border-radius: 25px;
    opacity: 95%;
}

@media (max-width: 996px) {
    .root {
        padding: 72px 0 90px;
        background-position: 25% center;
    }

    .root :global .col + .col {
        margin-top: 60px;
    }
}

@media (min-width: 997px) {
    .root {
        padding: 55px 0;
        background-position: center center;
    }

    .root :global .row {
        align-items: center;
    }

    .root :global .col:nth-child(2) {
        text-align: right;
    }

    .box1 :global .material-icons {
        margin-top: -20px;
    }
}
