.root {
    background-image: url("/img/otp-banner-bg.png");
    background-size: cover;
    color: white;
}

.col1 :global .material-icons {
    font-size: 45px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px;
    color: #4caf50;
}

.col1 h1 {
    margin-bottom: 30px;
}

.col1 p {
    margin-bottom: 40px;
}

.col1 :global .button {
    --ifm-button-size-multiplier: 1.2;
}

.img1 {
    vertical-align: middle;
    width: 530px;
    opacity: 95%;
}

@media (max-width: 996px) {
    .root {
        padding: 76px 0 95px;
        background-position: 25% center;
    }

    .root :global .col + .col {
        margin-top: 60px;
    }

    .col1 h1 {
        margin-top: 30px;
        font-size: 38px;
    }

    .col1 p {
        font-size: 19px;
    }

    .img1 {
        border-radius: 20px;
    }
}

@media (min-width: 997px) {
    .root {
        padding: 56px 0;
        background-position: center center;
    }

    .root :global .row {
        align-items: center;
    }

    .root :global .col:nth-child(2) {
        text-align: right;
    }

    .col1 :global .material-icons {
        margin-top: -20px;
    }

    .col1 h1 {
        margin-top: 25px;
        font-size: 45px;
    }

    .col1 p {
        font-size: 22px;
    }

    .img1 {
        border-radius: 25px;
    }
}

@media (min-width: 1140px) {
    .root .col1 {
        margin-left: 1rem;
    }
}
