.root p:first-child {
    margin-top: 4px;
}

.root h4 {
    margin-top: 28px;
}

.root ul {
    list-style-type: none;
    padding-left: 0;
}

@media (max-width: 996px) {
    .root {
        padding-right: 20px;
    }
}
