.root {
    padding: 68px 0 85px;
    background-color: #fafafa;
    font-size: 17px;
}

.root :global .container {
    position: relative;
}

.root :global .col:first-child {
    text-align: center;
}

.root :global .col--5 {
    text-align: center;
}

.root :global .col:last-child {
    display: flex;
}

.box1 img {
    width: 100px;
    border-radius: 22.5%;
}

.box1 p {
    font-size: 16px;
}

.ul1 {
    margin: 40px 0 0;
    padding-left: 0;
    color: var(--ifm-color-gray-800);
    list-style-type: none;
}

.ul1 li + li {
    margin-top: 6px;
}

.img1 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 1px solid var(--ifm-color-gray-300);
    border-bottom: none;
    width: 360px;
    vertical-align: middle;
}

.box2 p {
    margin-bottom: 10px;
}

.box2 p span {
    color: var(--ifm-color-gray-800);
}

.p1 {
    margin-top: 60px;
    margin-bottom: 10px;
}

.box3 p {
    margin-bottom: 6px;
    color: var(--ifm-color-gray-800);
}

.box3 p:last-child {
    margin-bottom: 0;
}

.button {
    position: absolute;
    right: 1rem;
    bottom: 0;
    font-size: 14px;
    color: var(--ifm-color-gray-500);
    cursor: pointer;
}

.button:hover {
    color: inherit;
}

@media (max-width: 996px) {
    .root :global .col:nth-child(2) {
        margin-top: 48px;
    }

    .root :global .col:last-child {
        justify-content: center;
        margin-top: 50px;
    }

    .ul1 {
        margin-top: 30px;
    }

    .p1 {
        margin-top: 30px;
    }

    .button {
        bottom: -70px;
    }
}

@media (min-width: 997px) {
    .root :global .row {
        align-items: center;
    }

    .root :global .col:last-child {
        justify-content: flex-end;
    }

    .root :global .col:last-child > div {
        padding-right: 1rem;
    }
}
