.root :global .col:first-child {
    text-align: center;
}

.img1 {
    border: 2px solid var(--ifm-color-gray-300);
    border-top: none;
    border-bottom: none;
    width: 300px;
    height: 320px;
    object-fit: cover;
    vertical-align: middle;
    object-position: center 32%;
}

.p1 {
    font-size: 21px;
}

.item h3 {
    font-size: 23px;
    margin-bottom: 20px;
}

.item p {
    font-size: 18px;
    margin-bottom: 0;
}

.item :global .material-icons {
    margin-right: 25px;
    font-size: 35px;
    vertical-align: -22%;
}

@media (max-width: 996px) {
    .root {
        padding: 80px 0;
    }

    .root :global .row {
        flex-wrap: wrap-reverse;
    }

    .root :global .col:first-child {
        margin-top: 50px;
    }

    .img1 {
        max-width: 90%;
    }

    .item {
        margin-top: 38px;
    }
}

@media (min-width: 997px) {
    .root {
        padding: 80px 0 60px;
    }

    .root :global .row {
        align-items: center;
    }

    .root :global .col:last-child {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .p1 {
        margin-bottom: 48px;
    }

    .item+.item {
        margin-top: 42px;
    }
}

@media (min-width: 997px) and (max-width: 1200px) {
    .root :global .container {
        max-width: 1120px;
    }
}