.img1 {
    vertical-align: middle;
    width: 380px;
}

.p1 {
    font-size: 22px;
}

.item h3 {
    font-size: 23px;
    margin-bottom: 20px;
}

.item p {
    font-size: 18px;
    margin-bottom: 0;
}

.satisfied,
.security {
    margin-right: 25px;
    font-size: 35px;
    vertical-align: -22%;
}

.satisfied {
    color: #f7a918;
}

.security {
    color: #4caf50;
}

@media (max-width: 996px) {
    .root {
        padding: 80px 0;
    }

    .root :global .row {
        flex-wrap: wrap-reverse;
    }

    .root :global .col:first-child {
        margin-top: 52px;
        text-align: center;
    }

    .img1 {
        max-width: 90%;
    }

    .p1 {
        margin-bottom: 38px;
    }

    .item + .item {
        margin-top: 38px;
    }
}

@media (min-width: 997px) {
    .root {
        padding: 80px 0 60px;
    }

    .root :global .row {
        align-items: center;
    }

    .root :global .col:first-child {
        padding-left: 2.5rem;
    }

    .root :global .col:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding-right: 2rem;
    }

    .p1 {
        margin-bottom: 50px;
    }

    .item + .item {
        margin-top: 40px;
    }
}

@media (min-width: 1100px) {
    .root :global .col:first-child {
        padding-left: 4rem;
    }

    .root :global .col:nth-child(2) {
        padding-right: 3rem;
    }
}
