.root :global .col:last-child {
    text-align: center;
}

.p1 {
    font-size: 21px;
}

.item h3 {
    font-size: 23px;
    margin-bottom: 20px;
}

.item p {
    font-size: 18px;
    margin-bottom: 0;
}

.item :global .material-icons {
    margin-right: 25px;
    font-size: 35px;
    vertical-align: -22%;
}

.img1 {
    vertical-align: middle;
    width: 365px;
}

@media (max-width: 996px) {
    .root {
        padding: 80px 0 64px;
    }

    .root {
        border-top: 1px solid #eee;
    }

    .root :global .col:last-child {
        margin-top: 35px;
    }

    .item {
        margin-top: 38px;
    }

    .img1 {
        max-width: 90%;
    }
}

@media (min-width: 997px) {
    .root {
        padding: 52px 0 72px;
    }

    .root :global .row {
        align-items: center;
    }

    .p1 {
        margin-bottom: 48px;
    }

    .item+.item {
        margin-top: 42px;
    }
}

@media (min-width: 997px) and (max-width: 1200px) {
    .root :global .container {
        max-width: 1120px;
    }
}