.root :global .col:last-child {
    text-align: center;
}

.p1 {
    font-size: 22px;
}

.item h3 {
    font-size: 23px;
    margin-bottom: 20px;
}

.item p {
    font-size: 18px;
    margin-bottom: 0;
}

.infinity,
.savings {
    margin-right: 25px;
    font-size: 35px;
    vertical-align: -22%;
}

.infinity {
    color: #3f51b5;
}

.savings {
    color: #f5ce15;
}

.img1 {
    vertical-align: middle;
    width: 360px;
}

@media (max-width: 996px) {
    .root {
        padding: 80px 0 64px;
    }

    .root {
        border-top: 1px solid #eee;
    }

    .root :global .col:last-child {
        margin-top: 32px;
    }

    .p1 {
        margin-bottom: 38px;
    }

    .item + .item {
        margin-top: 38px;
    }

    .img1 {
        max-width: 88%;
    }
}

@media (min-width: 997px) {
    .root {
        padding: 52px 0 72px;
    }

    .root :global .row {
        align-items: center;
    }

    .root :global .col:first-child {
        margin-left: 12px;
    }

    .root :global .col:last-child {
        margin-right: 12px;
    }

    .p1 {
        margin-bottom: 50px;
    }

    .item + .item {
        margin-top: 42px;
    }
}

@media (min-width: 1080px) {
    .root :global .col:first-child {
        margin-left: 1.5rem;
    }

    .root :global .col:last-child {
        margin-right: 1.5rem;
    }
}
