.root {
    padding: 68px 0 40px;
    background-color: #fafafa;
}

.item {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}

/* material-icons */
.item span {
    font-size: 36px;
    color: var(--ifm-color-primary);
    border-radius: 50%;
    border: 2px solid #d0d3ec;
    padding: 10px;
}

.item h3 {
    font-size: 23px;
    margin-top: 20px;
}

.item p {
    font-size: 17px;
    margin-top: 22px;
    margin-bottom: 0;
    color: var(--ifm-color-gray-800);
    text-align: justify;
}

@media (max-width: 996px) {
    .root :global .col + .col {
        margin-top: 50px;
    }
}
