.root {
    padding: 64px 0 80px;
}

.p1 {
    font-size: 22px;
    margin-bottom: 40px;
}

.p1 span {
    color: #3f51b5;
    font-weight: bold;
}

.p1 :global .material-icons {
    font-size: 24px;
    color: var(--ifm-color-primary-light);
    vertical-align: -15%;
    cursor: default;
    font-weight: normal;
}

.img1 {
    vertical-align: middle;
    width: 100%;
}

.title {
    font-size: 20px;
    margin-bottom: 30px;
}

.step {
    border-radius: 50%;
    height: 36px;
    line-height: 36px;
    width: 36px;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    margin-right: 15px;
    color: white;
}

.first {
    background-color: #f08c10;
}

.second {
    background-color: #2299dd;
}

.guideBox {
    padding: 15px 20px;
    font-size: 16px;
    border: 1px solid #e8e8e8;
    background-color: #fcfcfc;
    border-radius: 5px;
}

.guideBox :global .material-icons {
    margin-top: 1px;
    color: #4caf50;
    margin-right: 12px;
}

.guideBox p {
    margin-bottom: 0;
}

.guideBox ol {
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 20px;
}

.guideBox li + li {
    margin-top: 5px;
}

@media (max-width: 996px) {
}

@media (min-width: 997px) {
    .root :global .row {
        align-items: center;
        justify-content: space-between;
    }

    .root :global .row + .row {
        margin-top: 45px;
    }

    .root :global .col {
        flex: 0 0 var(--col-width);
        max-width: var(--col-width);
    }

    .left {
        --col-width: calc(35 / 120 * 100%);
    }

    .right {
        --col-width: calc(75 / 120 * 100%);
    }
}
