.root {
    background-color: #303846;
    color: white;
}

.container {
    padding-top: 40px;
    padding-bottom: 35px;
}

.container a {
    color: inherit;
}

.container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.contact {
    font-size: 0.9375rem;
}

ul.contact li + li {
    margin-top: 10px;
}

ul.contact li :global .material-icons {
    font-size: 1rem;
    vertical-align: -20%;
    margin-right: 0.4rem;
}

.qq {
    font-size: 0.85rem;
    margin-right: 0.4rem;
    display: inline-block;
    width: 1rem;
}

.company {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 11px;
}

ul.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
}

li.divider {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    height: 12px;
}

.copyright {
    font-size: 0.875rem;
    margin-top: 11px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.popper1 img {
    width: 13.5rem;
    height: 13.5rem;
    display: block;
}

@media (max-width: 996px) {
    .company {
        margin-top: 20px;
    }

    .company span {
        flex-basis: 100%;
    }
}

@media (min-width: 997px) {
    .container :global .row {
        justify-content: space-around;
    }

    .container :global .col:first-child {
        flex: 0 0 280px;
    }

    .container :global .col:nth-child(2) {
        flex: 0 0 500px;
    }
}
