.root {
    padding-top: 48px;
}

.root :global .col {
    text-align: center;
}

.root h3 {
    font-size: 32px;
    margin-bottom: 10px;
}

.root h3 span {
    vertical-align: 5%;
}

.hr1 {
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 38px;
    margin-bottom: 0;
}

@media (max-width: 996px) {
    .root :global .col + .col {
        margin-top: 32px;
    }
}
