.root {
    padding: 30px 0 0;
    color: white;
}

.root :global .col {
    text-align: center;
}

.root h3 {
    font-size: 32px;
    margin-bottom: 10px;
}

.root h3 span {
    vertical-align: 5%;
}

.hr1 {
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    margin-bottom: 0;
}
