.root {
    background-image:
        linear-gradient(to right, rgba(63, 81, 181, .18), rgba(143, 255, 253, .18)),
        url("/img/user-banner-bg.png");
    background-position: center, bottom;
    background-repeat: no-repeat;
    background-size: auto auto, 100% 300px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 24px;
    height: 56px;
}

.header svg {
    height: 32px;
}

.header :global .button {
    padding: 4px 8px;
}

.root :global .col {
    display: flex;
    justify-content: center;
}

.root h1 {
    font-size: 45px;
    line-height: 1.6em;
    margin-bottom: 45px;
}

.phoneBox {
    width: 256px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/img/user-phone-figure.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

.phoneBox img {
    width: 100px;
    border-radius: 22.5%;
    opacity: 95%;
}

@media (max-width: 996px) {
    .header {
        padding-right: 16px;
    }

    .root :global h1 {
        margin-top: 50px;
        font-size: 10vw;
        margin-bottom: 40px;
    }

    .root :global .col:last-child {
        margin-top: 50px;
    }
}

@media (min-width: 997px) {
    .root :global .row {
        align-items: center;
    }

    .root :global h1 {
        margin-top: -15px;
    }

    .phoneBox img {
        margin-top: -10px;
    }
}