.root {
    padding: 68px 0 85px;
    background-color: #fafafa;
    background-image:
        linear-gradient(#fafafa, transparent 60%),
        url("/img/home-value-bg.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: auto 220px;
}

.root :global .col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 100px;
    height: 100px;
    border-radius: 22.5%;
    opacity: 95%;
}

.img1 {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 6px solid #e8e8e8;
    border-bottom: none;
    width: 300px;
    height: 420px;
    object-fit: cover;
    object-position: center top;
    vertical-align: middle;
}

.box1 {
    background-color: white;
    border: 1px solid #eee;
}

.box1 hr {
    background-color: #eee;
    margin-top: 35px;
    margin-bottom: 35px;
}

/* 两个图标 */
.box1 i {
    color: rgb(0 0 0 / 0.8);
    margin-right: 20px;
}

.box1 :global .iconfont {
    font-size: 27px;
}

.box1 :global .material-icons {
    vertical-align: -15%;
    font-size: 28px;
}

.box1 h3 {
    font-size: 23px;
    margin-top: 2px;
}

.box1 p {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 0;
}

.box1 p span {
    font-weight: bold;
    color: var(--ifm-color-primary);
}

.box1 a {
    font-weight: bold;
}

@media (max-width: 996px) {
    .root :global .col:nth-child(2),
    .root :global .col:last-child {
        margin-top: 54px;
    }

    .box1 {
        padding: 40px 30px;
    }
}

@media (min-width: 997px) {
    .root :global .col:first-child {
        justify-content: flex-end;
    }

    .root :global .col:nth-child(2) {
        margin-left: 10px;
    }

    .box1 {
        padding: 40px;
    }
}

@media (min-width: 997px) and (max-width: 1200px) {
    .root :global .col:nth-child(2) {
        margin-left: 5px;
    }

    .root :global .col:last-child {
        margin-right: 16px;
    }
}