/* http请求的语法高亮 start */
.request-line.method,
.request-line.http-version,
.response-status {
    color: #000080 !important;
}

.header.header-name {
    color: #660e7a !important;
}
/* http请求的语法高亮 end */

.theme-doc-markdown dt {
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 6px;
}

.theme-doc-markdown dd {
    margin-left: 30px;
}

.docs__left-hand {
    transform: rotate3d(1, 1, 0, 180deg);
    display: inline-block;
    vertical-align: -10%;
}

.docs__param-c1 {
    white-space: nowrap;
}

/*.docs__img1 {*/
/*    width: calc(768px + 2px);*/
/*    border: 1px solid #e8e8e8;*/
/*}*/

.docs__img2 {
    vertical-align: middle;
    width: 110px;
}

.docs__img3 {
    width: calc(236px + 2px);
    border: 1px solid #e8e8e8;
    margin-bottom: 20px;
    display: block; /* 外边距合并需要 */
}

.docs_button1 {
    margin-bottom: 20px;
    font-size: 16px;
}

.docs_button1 + .docs_button1 {
    margin-left: 40px;
}

.docs_button1 img {
    width: 24px;
}
