/* http请求的语法高亮 start */
.request-line.method,
.request-line.http-version,
.response-status {
    color: #000080 !important;
}

.header.header-name {
    color: #660e7a !important;
}
/* http请求的语法高亮 end */

.theme-doc-markdown dt {
    font-weight: bold;
    margin-bottom: 0.4em;
}

.theme-doc-markdown dt:not(:first-of-type) {
    margin-top: 0.8em;
}

.theme-doc-markdown dd {
    margin-left: 0;
}

.docs__left-hand {
    transform: rotate3d(1, 1, 0, 180deg);
    display: inline-block;
    vertical-align: -10%;
}

.docs__param-c1 {
    min-width: 128px;
}

.docs__img1 {
    width: calc(768px + 2px);
    border: 1px solid #e8e8e8;
}

.docs__img2 {
    vertical-align: middle;
    width: 110px;
}
