/* iconfont start */
@font-face {
    font-family: "iconfont"; /* Project id 545468 */
    src: url("//at.alicdn.com/t/font_545468_uxcwqgt1mw.woff2?t=1622972228087") format("woff2"),
        url("//at.alicdn.com/t/font_545468_uxcwqgt1mw.woff?t=1622972228087") format("woff"),
        url("//at.alicdn.com/t/font_545468_uxcwqgt1mw.ttf?t=1622972228087") format("truetype");
}

.iconfont {
    font-family: "iconfont";
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/npm/material-icons@1.13.1/iconfont/material-icons.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/npm/material-icons@1.13.1/iconfont/material-icons.woff)
            format("woff");
}

@font-face {
    font-family: "Material Icons Outlined";
    font-style: normal;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/npm/material-icons@1.13.1/iconfont/material-icons-outlined.woff2)
            format("woff2"),
        url(https://cdn.jsdelivr.net/npm/material-icons@1.13.1/iconfont/material-icons-outlined.woff)
            format("woff");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}

.material-icons-outlined {
    font-family: "Material Icons Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}
/* iconfont end */

/* reset docs start */
:root {
    --ifm-color-primary: #3f51b5;
    --ifm-color-primary-dark: #3949ab;
    --ifm-color-primary-darker: #303f9f;
    --ifm-color-primary-darkest: #283593;
    --ifm-color-primary-light: #5c6bc0;
    --ifm-color-primary-lighter: #7986cb;
    --ifm-color-primary-lightest: #9fa8da;
    --ifm-code-font-size: 95%;
    --ifm-navbar-item-padding-horizontal: 0.85rem;
    --ifm-navbar-height: 3.5rem;
    --ifm-menu-link-padding-vertical: 0.475rem;
    --ifm-font-color-base: rgba(0, 0, 0, 0.87);
    --ifm-menu-color: var(--ifm-color-emphasis-800);
    --ifm-container-width-xl: 1140px;
}
/* reset docs end */

/* reset mui start */
.MuiTooltip-tooltip {
    font-size: 16px;
}
/* reset mui end */

/* nav bar start */
.nav-item-product + .dropdown__menu .dropdown__link {
    padding: 0.5rem 0.8rem;
    font-size: 0.9375rem;
}

.nav-item-product + .dropdown__menu [class^="material-icons"] {
    vertical-align: -25%;
    padding-right: 15px;
    color: var(--ifm-color-gray-800);
}

.nav-item-product + ul .name {
    font-family: var(--ifm-font-family-monospace);
    margin-right: 8px;
}

.nav-item-product + .menu__list [class^="material-icons"] {
    font-size: 25px;
    padding-right: 15px;
    color: var(--ifm-color-gray-700);
}

.nav-item-github .iconfont {
    font-size: 21px;
}
/* nav bar end */

.main-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 52px;
}

@media (max-width: 996px) {
    .main-title {
        margin-top: 5px;
        margin-bottom: 55px;
    }
}
