.root {
    padding: 64px 0 72px;
}

.item h3 {
    font-size: 24px;
    height: 40px;
    line-height: 40px;
}

.item p {
    font-size: 18px;
    margin-bottom: 0;
}

.item :global .material-icons {
    border-radius: 50%;
    border: 1px solid #e8e8e8;
    padding: 5px;
    margin-right: 20px;
    font-size: 25px !important;
    vertical-align: -15%;
}

.code {
    color: #2299dd;
}

.category {
    color: #4caf50;
}

.ul1 {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ul1 svg {
    vertical-align: middle;
}

@media (max-width: 996px) {
    .root :global .col + .col {
        margin-top: 38px;
    }

    .item + .item {
        margin-top: 30px;
    }
}

@media (min-width: 997px) {
    .root :global .row {
        align-items: center;
    }

    .item + .item {
        margin-top: 45px;
    }
}
